version: "3"
services:
  joplin-server:
    image: joplin/server:latest
    container_name: joplin-server
    restart: unless-stopped
    ports:
      - "22300:22300"
    environment:
      - APP_BASE_URL=https://{{umbrel-hostname}}/joplin
      - APP_PORT=22300
      - DB_CLIENT=sqlite
      - DB_NAME=joplin.sqlite
      - DB_FILENAME=/data/joplin/joplin.sqlite
      - APP_BASE_DIR=/data/joplin
      - APP_ADMIN_PASSWORD=admin
      - APP_ADMIN_EMAIL=admin@example.com
      - APP_LOG_LEVEL=info
      - APP_DISABLE_REGISTRATION=true
      - APP_ENABLE_CORS=true
      - APP_ENABLE_EMAIL=false
    volumes:
      - joplin-data:/data/joplin
volumes:
  joplin-data:
